/*body {
  padding-top: 50px;
}*/

#bg {
    left: 0;
    position: absolute;
    top: 0;
}

.bgwidth {
    width: 100%;
}

.bgheight {
    height: 100%;
}

#links {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    
    width: 100%;
}

#content {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    width: 100%;
}

.tint {
    /*position: relative;*/
    /*float: left;*/
    cursor: pointer;
}

.tint:hover:before {
    content: "";
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    background: rgba(0,255,255, 0.5);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

.tint:before {
    background: none;
}