/*body {
  padding-top: 50px;
}*/

#bg {
    left: 0;
    position: absolute;
    top: 0;
}

.bgwidth {
    width: 100%;
}

.bgheight {
    height: 100%;
}

#links {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    
    width: 100%;
}

#links a {
    color: grey;
    opacity: .5;
    margin: 20px;
}

#content {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    position: absolute;
    width: 100%;
}

