body {
  padding-top: 50px;
}


#bg {
    left: 0;
    position: absolute;
    top: 0;
}
.bgwidth {
    width: 100%;
}

.bgheight {
    height: 100%;
}
/*
#about {
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    position: absolute;
    width: 100%;
}*/