@import "font-awesome";
@import "compass/css3/border-radius";

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

$grey: #5a5a5a;
$white: white;
$button-opacity: 0.5;
$button-opacity-hover: 1;
$font-size-navbar: 17px;


.button-hover {
    opacity: $button-opacity;
    &:hover {
        opacity: $button-opacity-hover;
    }
}

.grey {
    color: $grey;
}


.white {
    color: $white;
}


.button-link-contact {
    a {
        @extend .button-hover;
        @extend .grey;
        margin: 60px;
        i {
            @extend .fa-4x;
        }
    }
}

.fun {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 90px;
}

