// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";
// font-awesome-compass does not seem to work
// @import "font-awesome-compass";
@import "font-awesome";
@import "compass/css3/border-radius";
html,
body {
    height: 100%;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

$grey: #5a5a5a;
$white: white;
$button-opacity: 0.5;
$button-opacity-hover: 1;
$font-size-navbar: 17px;
#intro-container {
    margin-top: 65px;
    margin-left: 15px;
    font-size: 15px;
}

.navbar-default {
    color: $white;
    background: transparent;
    background-image: none;
    .navbar-collapse {
        text-align: center;
    }
}

.navbar-default .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-default .navbar-nav {
    > li {
        margin-left: 15px;
        margin-right: 15px;
        font-variant: small-caps;
        font-size: $font-size-navbar;
    }
}

.navbar-default.affix-top .navbar-nav {
    > li > a, > .active > a {
        color: $white;
        background-color: transparent;
    }
}

.navbar-default.affix .navbar-nav {
    > li > a, > .active > a {
        color: $grey;
        background-color: transparent;
    }
}

.navbar-default.affix-top .navbar-nav,
.navbar-default.affix .navbar-nav {
    > li > a {
        opacity: $button-opacity;
        &:hover {
            opacity: $button-opacity-hover;
            font-size: $font-size-navbar + 2px;
            font-weight: bold;
        }
    }
    > .active > a {
        &, &:hover {
            opacity: $button-opacity-hover;
            font-size: $font-size-navbar + 2px;
            font-weight: bold;
        }
    }
}

#firstpage {
    height: 115%;
    width: 100%;
    // padding: 0;
    background: #000 url("../img/background-space.jpg") no-repeat scroll center bottom;
    background-size: cover;
    text-align: center;
}

.intro-w {
    background: rgba(0, 0, 0, 0.5);
    @include border-radius(15px);
}

.profile-pic-container {
    text-align: center;
}

.intro-text {
    text-align: center;
    line-height: 1.5;
    color: white;
    padding: 15px;
    margin: 5px;
}

@mixin center-absolute {
    transform: translate(-50%, 0);
    left: 50%;
    position: absolute;
}

.v-align {
    display: flex;
    align-items: center;
}

#arrow-enter {
    @include center-absolute;
    position: absolute;
    bottom: 10px;
}

.button-hover {
    opacity: $button-opacity;
    &:hover {
        opacity: $button-opacity-hover;
    }
}

.arrow {
    @extend .fa-4x;
    @extend .fa;
    @extend .fa-arrow-circle-down;
    @extend .button-hover;
}

.arrow-down {
    @extend .arrow;
    color: $grey;
    margin-bottom: 95px;
}

.arrow-start {
    @extend .arrow;
    color: $white;
}

#links {
    @include center-absolute;
    background: transparent;
    bottom: -80px;
    a {
        @extend .button-hover;
        color: $white;
        margin: 20px;
        i {
            @extend .fa-4x;
        }
    }
}

#projects-bubbles {
    text-align: center;
    background: transparent;
}

.nav-section {
    // background: #000 url("../img/background-edu.jpg") no-repeat scroll center bottom;
    background: transparent;
    text-align: justify;
    height: 100%;
    padding-top: 50px;
    color: $grey;
}

#education,
#content,
#sections,
.content-section,
#project {
    height: 100%;
}

.featurette {
    text-align: center;
    div {
        img {
            // @include border-radius(15px);
            width: 300px;
            height: auto;
            // border: 1px solid black;
            // margin-top: 0.4em;
        }
    }
}

.education-featurette {
    @extend .featurette;
    height: 90/2 *1%;
}

.experience-featurette {
    @extend .featurette;
    height: 90/3 *1%;
}

.arrow-down-section {
    height: 10%;
    text-align: center;
    margin: -10px;
}

$font-size-feat-h1: 30px;
.featurette-h1 {
    font-size: $font-size-feat-h1;
}

.featurette-h2 {
    font-size: $font-size-feat-h1 - 5px;
}

.description-h1 {
    font-size: $font-size-feat-h1 - 15px;
}

.description-h2 {
    font-size: $font-size-feat-h1 - 15px;
}

img {
    filter: gray;
    /* IE6-9 */
    
    filter: grayscale(1);
    /* Firefox 35+ */
    
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
}

.tech-featurette {
    height: 90/2 * 1%;
}

#project-featurette div {
    background-color: green;
    margin-top: 20px;
}

#project {
    font-size: 11px;
    .col-lg-4 {
        text-align: center;
    }
    i {
        @extend .button-hover;
        color: $grey;
    }
    img {
        height: 130px;
        width: 130px;
    }
    a {
        img {
            @extend .button-hover;
            color: $grey;
            height: 40px;
            width: auto;
        }
    }
}

// .item {
//     border: 2px solid #fff !important;
// }
.item {
    text-align: center;
    border: 2px solid #1e1f20;
    border-radius: 50%;
    margin: 15px;
    // line-height: 500px;
}

#skills-container {
    padding: 50px;
    // margin-bottom: 30px;
}