// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";
// font-awesome-compass does not seem to work
// @import "font-awesome-compass";
@import "font-awesome";
@import "compass/css3/border-radius";
html,
body {
    height: 100%;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

$grey: #5a5a5a;
$white: white;
$button-opacity: 0.5;
$button-opacity-hover: 1;
$font-size-navbar: 17px;
#intro-container {
    margin-top: 65px;
    margin-left: 15px;
    font-size: 15px;
}

.navbar-default {
    color: $white;
    background: transparent;
    background-image: none;
    .navbar-collapse {
        text-align: center;
    }
}

.navbar-default .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-default .navbar-nav {
    > li {
        margin-left: 15px;
        margin-right: 15px;
        font-variant: small-caps;
        font-size: $font-size-navbar;
    }
}

.navbar-default.affix-top .navbar-nav {
    > li > a, > .active > a {
        color: $white;
        background-color: transparent;
    }
}

.navbar-default.affix .navbar-nav {
    > li > a, > .active > a {
        color: $grey;
        background-color: transparent;
    }
}

.navbar-default.affix-top .navbar-nav,
.navbar-default.affix .navbar-nav {
    > li > a {
        opacity: $button-opacity;
        &:hover {
            opacity: $button-opacity-hover;
            font-size: $font-size-navbar + 2px;
            font-weight: bold;
        }
    }
    > .active > a {
        &, &:hover {
            opacity: $button-opacity-hover;
            font-size: $font-size-navbar + 2px;
            font-weight: bold;
        }
    }
}

#firstpage {
    height: 115%;
    width: 100%;
    // padding: 0;
    background: #000 url("../img/background-space.jpg") no-repeat scroll center bottom;
    background-size: cover;
    text-align: center;
}

.intro-w {
    background: rgba(0, 0, 0, 0.5);
    @include border-radius(15px);
}

.profile-pic-container {
    text-align: center;
}

.intro-text {
    text-align: center;
    line-height: 1.5;
    color: white;
    padding: 15px;
    margin: 5px;
}

@mixin center-absolute {
    transform: translate(-50%, 0);
    left: 50%;
    position: absolute;
}

.v-align {
    display: flex;
    align-items: center;
}

#arrow-enter {
    @include center-absolute;
    position: absolute;
    bottom: 10px;
}

.button-hover {
    opacity: $button-opacity;
    &:hover {
        opacity: $button-opacity-hover;
    }
}

.arrow {
    @extend .fa-4x;
    @extend .fa;
    @extend .fa-arrow-circle-down;
    @extend .button-hover;
}

.arrow-down {
    @extend .arrow;
    @extend .grey;
}

.grey {
    color: $grey;
}

#links {
    @include center-absolute;
    bottom: -80px;
    background: transparent;
}

.white {
    color: $white;
}

.button-link-contact {
    a {
        @extend .button-hover;
        @extend .grey;
        margin: 60px;
        i {
            @extend .fa-4x;
        }
    }
}

.button-link-about {
    a {
        @extend .button-hover;
        @extend .white;
        margin: 60px;
        i {
            @extend .fa-4x;
        }
    }
}

#projects-bubbles {
    text-align: center;
    background: transparent;
}

.nav-section {
    // background: #000 url("../img/background-edu.jpg") no-repeat scroll center bottom;
    background: transparent;
    text-align: justify;
    height: 100%;
    padding-top: 50px;
    @extend .grey;
}

#education,
#content,
#sections,
.content-section {
    height: 100%;
}

.featurette {
    text-align: center;
    div {
        img {
            // @include border-radius(15px);
            width: 300px;
            height: auto;
            // border: 1px solid black;
            // margin-top: 0.4em;
        }
    }
}

.education-featurette {
    @extend .featurette;
    height: 90/2 *1%;
}

.experience-featurette {
    @extend .featurette;
    height: 90/3 *1%;
}

.arrow-down-section {
    height: 10%;
    text-align: center;
    margin: -10px;
    i {
        @extend .grey;
    }
}

$font-size-feat-h1: 30px;
.featurette-h1 {
    font-size: $font-size-feat-h1;
}

.featurette-h2 {
    font-size: $font-size-feat-h1 - 5px;
}

.description-h1 {
    font-size: $font-size-feat-h1 - 15px;
}

.description-h2 {
    font-size: $font-size-feat-h1 - 15px;
}

img {
    filter: gray;
    /* IE6-9 */
    
    filter: grayscale(1);
    /* Firefox 35+ */
    
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
}

.tech-featurette {
    height: 90/2 * 1%;
}

#project-featurette div {
    margin-top: 20px;
}

#project-featurette {
    font-size: 11px;
    .col-lg-4 {
        text-align: center;
    }
    i {
        @extend .button-hover;
        color: $grey;
    }
    img {
        height: 130px;
        width: 130px;
    }
    a {
        img {
            @extend .button-hover;
            color: $grey;
            height: 30px;
            width: 30px;
        }
    }
}

#skills .slick-slide {
    position: relative;
    // padding: 100px 100px;
    margin: 15px;
    text-align: center;
    div {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        // text-align: center;
    }
    // text-align: center;
    @include border-radius(50%);
    border: 2px solid $grey;
    // text-align: center;
    // border: 2px solid #1e1f20;
    // border-radius: 50%;
    // margin-top: 15px;
    // margin-bottom: 15px;
    // margin-left: 25px;
    // margin-right: 25px;
    // i{
    //     line-height: 138px;
    // }
    // line-height: 500px;
    // padding-left: 10px;
    // padding-right: 10px;
    // padding-right: 10px;
}

#skills-container {
    padding-left: 100px;
    padding-right: 100px;
}

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
#skills .slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    li {
        position: relative;
        // background-color: blue;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

#contact.contact-section {
    margin-top: 10px;
    display: table;
    height: 100%;
}

.fun {
    margin-top: 180px;
    margin-bottom: 90px;
}

.contact-section {
    display: table-cell;
    max-width: 980px;
    // height: 100%;
    vertical-align: middle;
    text-align: center;
}

.row-contact h1 {
    margin-bottom: 50px;
}
