* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    width: 100%;
    font-family: 'Jura', sans-serif;
}

.fun {
    text-align: center;
    margin-top: 11.25em;
    margin-bottom: 5.625em;
    opacity: 1;
}

#content {
    opacity: 1;
    text-align: center;
    margin: 0.625em auto 0;
    width: 45em;
}

#content #about h1 {
    font-size: 300%;
    padding-top: 1.25em;
}

#links i {
    color: white;
    opacity: 0.5;
    margin: 1em 0.5em 0;
}

#links i:hover {
    opacity: 1;
}

@media (max-width: 767px) {
    #content {
        margin: auto auto 0;
        width: 10em;
    }
    #links i {
        margin: 1em 0.5em 0;
    }
}
